.header {
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: 70px;
    display: grid;
    grid-template-columns: 280px 600px 540px;
    grid-gap: 10px;
    background-color: #121317;
}