.link {
    text-decoration: none;
    margin-right: 24px;
}

.link :hover {
    color: #ffffff;
}

.nav-icon {
    margin: auto;
    padding-left: 15px;
}

.carousel-indicator-active {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 0;
    background-color: #ffffff;
    border: solid 1px #838991;
    border-radius: 50%;
    margin-right: 5px;
}

.carousel-indicator-inactive {
    display: inline-block;
    height: 8px;
    width: 8px;
    padding: 0;
    background-color: transparent;
    border: solid 1px #838991;
    border-radius: 50%;
    margin-right: 5px;
}

.carousel-card-wrapper {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    cursor: pointer;
}