.carousel-text {
    padding: 46px 20px 0px 56px;
    text-align: left;
}

.padding-top-14 {
    padding-top: 14px;
}

.margin-tb-18 {
    margin: 18px 0;
}

.play-button {
    display: flex;
    align-items: center;
    padding-top: 14px;
}